*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul, li{
  list-style: none;
}

body{
  background-color: #333;
}

.main-container{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: url(https://wallpapercave.com/wp/wp8991907.jpg);
  background-position: center;
  background-size: cover;
}

.input-wrapper{
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-image: linear-gradient(to bottom,#314276, rgba(39,119,165,0.9), rgba(64, 149, 184,0.8), rgba(85,148,181,0.7), rgba(251,205,172,0) );
}

input{
  border: none;
  border-radius: 999px;
  line-height: 20px;
  font-size: 20px;
  padding: 0 10px;
  color: #333;
}

input[type='button']{
  padding: 2px 10px;
  background-color: #4EFFE5;
  font-weight: bold;
}

.list-wrapper{
  padding: 20px;
  background-color: rgba(250, 250, 250, 0.5);
  border: 2px solid white;
  width: 600px;
  max-height: 500px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 2px 2px 10px black;
  overflow: auto;    
}

.item-list{
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  padding: 5px 15px;
  box-shadow: 0px 2px 0px white;
  border: 2px solid transparent;
}

.item > .done{
  text-decoration: line-through;
  opacity: 0.4;
}

input[type='checkbox']{
  border-radius: 50%;
}

.fa-circle-check{
  color: green;
  text-shadow: 2px 2px 3px white;
  margin-right: 5px;
}

.fa-trash{
  color: red;
  text-shadow:2px 2px 3px white;
}